@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

:root {
    --purple: hsl(298, 100%, 30%);
    --pink: hsl(342, 68%, 60%);
    --blue: hsl(194, 100%, 60%);
    --purple-gradient: hsl(0, 100%, 70%),hsl(298, 100%, 30%);
    --pink-gradient: hsl(29, 100%, 69%), hsl(342, 68%, 60%);
    --blue-gradient: hsl(194, 100%, 60%), hsl(194, 100%, 33%);
}

h2, p {
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.card-list {
    display: flex;
    align-items: center;
}

.card {
    width: 280px;
    background-color: white;
    padding: 1.5rem;
    border-radius: 2rem;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover {
    z-index: 2;
    transform: scale(1.1);
    transition: 0.2s;
}

.card-hc {
    margin-right: -3rem;
    color: var(--purple);
    box-shadow: 0 0 1rem var(--purple);
}

.card-sule {
    z-index: 1;
    color: var(--pink);
    box-shadow: 0 0 1rem var(--pink);
}

.card-ch {
    margin-left: -3rem;
    color: var(--blue);
    box-shadow: 0 0 1rem var(--blue);
}

.btn-close {
    align-self: flex-end;
    color: inherit;
}

.btn-close>svg{
    width: 24px;
    height: 24px;
}

.card img {
    max-width: 100%;
}

.card h2 {
    color: black;
    font-weight: 900;
    font-size: 2em;
}

.coordinates {
    margin-top: 0.1rem;
    font-size: 0.8em;
    font-weight: 700;
}

.detail {
    padding: 1rem 0;
    font-size: 0.8em;
    color: black;
    height: 7em;
}

.card-hc .btn-read-more {
    background: linear-gradient(90deg, var(--purple-gradient));
    border-radius: 1rem;
    padding: 1px;
}

.card-sule .btn-read-more {
    background: linear-gradient(90deg, var(--pink-gradient));
    border-radius: 1rem;
    padding: 1px;
}

.card-ch .btn-read-more {
    background: linear-gradient(90deg, var(--blue-gradient));
    border-radius: 1rem;
    padding: 1px;
}

.wrapper {
    border-radius: inherit;
    padding: 0.4rem 0.6rem;
    background-color: white;
}

.card-hc .text {
    color: transparent;
    background: linear-gradient(90deg, var(--purple-gradient));
    background-clip: text;
    -webkit-background-clip: text;
}

.card-sule .text {
    color: transparent;
    background: linear-gradient(90deg, var(--pink-gradient));
    background-clip: text;
    -webkit-background-clip: text;
}

.card-ch .text {
    color: transparent;
    background: linear-gradient(90deg, var(--blue-gradient));
    background-clip: text;
    -webkit-background-clip: text;
}


.btn-read-more:hover .wrapper {
    background-color: transparent;
}

.btn-read-more:hover .text {
    color: white;
}

.dots {
    margin-top: 1rem;
}